<header>
  <div class="photo"><img src="/img/photo.jpg" alt="face photo" /></div>
  <div class="info">
    <h1 class="title">Alexandr Gakhov</h1>
    <p>
      Hello, I'm an indie developer from Russia. Now i am living in Almaty,
      Kazakhstan. Here I want to share my projects and ideas.
    </p>
    <p>
      You can connect to me on
      <a href="mailto:alexandr.gakhov@gmail.com">mail</a> or
      <a href="https://t.me/agakhov">telegram</a>.
    </p>
  </div>
</header>
