---
titel: "Alexandr Gakhov Page"
layout: "base.njk"
---

<main>
  <section class="category">
    <h2>Projects and skills</h2>

    <section class="area">
      <h3>Forntend</h3>
      <ul>
        <li>
          Responsive web design (css/html/js)
          <ul>
            <li>
              Simple web service
              <a href="https://prazdnik-v-korobke.ru/cryptosafe/">CryptoSafe</a>
            </li>
            <li>
              Landing page (design on Figma, css/html)
              <a href="https://prazdnik-v-korobke.ru/elkahouse/">elkahouse</a>
            </li>
          </ul>
        </li>

        <li>
          Static sites (site generator: Hugo, hosting: netlify.com, github.com)
          <ul>
            <li>
              <a href="https://prazdnik-v-korobke.ru">prazdnik-v-korobke.ru</a>
            </li>
            <li><a href="https://orangefrog.ru">orangefrog.ru</a></li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="area">
      <h3>Game development</h3>
      <ul>
        <li>
          Game design
          <ul>
            <li>fun, feel, flow</li>
            <li>mechanics</li>
            <li>balance</li>
          </ul>
        </li>
        <li>
          Godot
          <ul>
            <li>turn base TD, with area control - prototype</li>
            <li>magic maze - prototype</li>
            <li>bots - prototype</li>
          </ul>
        </li>
        <li>
          Blender
          <ul>
            <li>low poly modeling</li>
            <li>simple materials, UV</li>
          </ul>
        </li>
        <li>
          UE4
          <ul>
            <li>blueprint</li>
            <li>async blueprint node on C++</li>
            <li>simple materials</li>
            <li>simple light setting</li>
          </ul>
        </li>
        <li>
          Haxe
          <ul>
            <li>children's games for ipad: Multimonster, GreenValley</li>
            <li>tetris like game with numbers - NumTower</li>
          </ul>
        </li>
      </ul>
    </section>
  </section>

  <section class="category">
    <h2>Profile</h2>
    <section class="area">
      <h3>Work history</h3>
      <ul>
        <li>2013 - Current time | Indie developer: Games, Web.</li>
        <li>
          2010 - 2013 | CTO in Flexis: CI, Agile, tech stack, architecture.
        </li>
        <li>2009 - 2010 | Team lead, Flex developer. In Flexis.</li>
        <li>2007 - 2008 | Flex developer in MMO Carnage.</li>
      </ul>
    </section>

    <section class="area">
      <h3>Education</h3>
      <p>1999 - 2005 | Rostov State University, mechanics.</p>
    </section>

    <section class="area">
      <h3>Additional</h3>
      <p>
        I love learning new technologies and implementing them into my work. It
        is possible to change the approach to solving problems and the point of
        view, depending on new opportunities.
      </p>
      <p>
        My passion is strategy, I like to think broadly and abstractly. Always
        try to go beyond:
      </p>
      <ul>
        <li>From plan to constant planning.</li>
        <li>From feature to product.</li>
        <li>From product to customer benefit.</li>
      </ul>
    </section>
  </section>
</main>
